NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_BONDING_CURVE_MANAGER_ADDRESS=
NEXT_PUBLIC_WS_BASE_URL=

NEXT_PUBLIC_DEX_TARGET=
NEXT_PUBLIC_MORALIS_API_KEY=
UPLOADTHING_TOKEN=

NEXT_PUBLIC_TOKEN_SYMBOL=
NEXT_PUBLIC_EXPLORER_URL=
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_DECIMALS=
NEXT_PUBLIC_ICON_URL=

NEXT_VERCEL_URL=